/*** Base del sitio ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0 auto;
}

/*** Estructura del sitio ***/
body {
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
}

.time {
  display: flex;
  position: relative;
  flex-direction: row;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls button {
  border: none;
  cursor: pointer;
}

.controls #reset {
  display: none;
}

iframe {
  display: none;
}

.tasks1,
.tasks2 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.taskInput:focus {
  outline: none;
}

ul {
  list-style-type: none;
  text-align: justify;
}

.button {
  cursor: pointer;
}

.text2 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .scroll a {
    display: none;
  }
}

.float {
  position: fixed;
}

/*** Medidas del sitio ***/
.container {
  min-height: 100vh;
  width: 100%;
}

.title {
  padding: 30px 0 35px 0;
}

.fas {
  padding-left: 13px;
}
@media screen and (max-width: 768px) {
  .fas {
    padding-left: 15px;
  }
}

.circle {
  width: 380px;
  height: 380px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .circle {
    width: 340px;
    height: 340px;
  }
}
@media screen and (max-width: 400px) {
  .circle {
    width: 280px;
    height: 280px;
  }
}

.circle::before {
  width: 85%;
  height: 85%;
  border-radius: 50%;
}

.text {
  padding-top: 35px;
  padding-bottom: 30px;
}

.controls {
  padding-bottom: 35px;
}

.fa-play {
  line-height: 1;
}

.fa-spin {
  line-height: 1;
}

.tasks1 {
  padding-top: 20px;
}

.taskInput {
  padding: 10px 20px;
  width: 389px;
  height: auto;
  border-radius: 15px;
  border-width: 2px;
}
@media screen and (max-width: 768px) {
  .taskInput {
    width: 260px;
  }
}
@media screen and (max-width: 400px) {
  .taskInput {
    padding: 8px 10px;
    width: 220px;
  }
}

.text1 {
  width: auto;
  height: auto;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 5px;
}
@media screen and (max-width: 400px) {
  .text1 {
    padding: 8px 15px;
  }
}

.title2 {
  padding: 35px 0 5px 5px;
}
@media screen and (max-width: 768px) {
  .title2 {
    padding: 35px 0 5px 15px;
  }
}

ul {
  width: 515px;
  padding: 10px 7px 20px 7px;
}
@media screen and (max-width: 768px) {
  ul {
    width: 400px;
    padding: 10px 5px 20px 0;
  }
}
@media screen and (max-width: 400px) {
  ul {
    width: 329px;
  }
}

li {
  padding: 5px 0;
}
@media screen and (max-width: 768px) {
  li {
    padding: 5px 16px;
  }
}

.eliminar {
  width: auto;
  height: auto;
  border-radius: 15px;
  padding: 7px 18px;
  margin: 5px 12px 10px 0;
}

.footer {
  height: auto;
  padding: 20px 0;
}

.float {
  right: 20px;
  bottom: 80px;
}
@media screen and (max-width: 768px) {
  .float {
    bottom: 0;
    right: 0;
  }
}

/*** Fuentes del sitio ***/
.texto-mayor {
  font-weight: 600;
}

.texto-medio {
  font-weight: normal;
}

.texto-menor {
  font-weight: lighter;
}

body {
  font-family: "Varela Round", sans-serif;
}

.title {
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 47px;
  }
}
@media screen and (max-width: 400px) {
  .title {
    font-size: 40px;
  }
}

.fas {
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .fas {
    font-size: 47px;
  }
}
@media screen and (max-width: 400px) {
  .fas {
    font-size: 40px;
  }
}

.time {
  font-family: "Varela Round", sans-serif;
  font-size: 85px;
}
@media screen and (max-width: 768px) {
  .time {
    font-size: 80px;
  }
}
@media screen and (max-width: 400px) {
  .time {
    font-size: 75px;
  }
}

.text {
  font-family: "Kalam", cursive;
  font-size: 30px;
}

.fa-solid {
  font-size: 55px;
}

.taskInput {
  font-family: "Kalam", cursive;
  font-size: 18px;
}

.text1 {
  font-family: "Kalam", cursive;
  font-size: 20px;
}

.title2 {
  font-family: "Varela Round", sans-serif;
  font-size: 26px;
}

li {
  font-family: "Kalam", cursive;
  font-size: 18px;
}

.eliminar {
  font-family: "Kalam", cursive;
  font-size: 20px;
}

.text2 {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  .text2 {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .text2 {
    font-size: 10px;
  }
}

.scroll a {
  font-size: 50px;
}

/*** Colores del sitio ***/
body {
  background-color: #e0e5fb;
}

.fa-book-reader {
  color: #8c80f6;
}

.circle {
  box-shadow: 0px 0px 30px #8c80f6;
}

.circle::before {
  background-color: #eef1ff;
}

.controls button {
  background-color: transparent;
}

.fa-play,
.scroll a {
  color: #8c80f6;
}

.fa-spin {
  color: #bd7cfe;
}

.taskInput {
  border-color: #8c80f6;
  background-color: transparent;
}

.taskInput:focus {
  border: 2px solid #bd7cfe;
  box-shadow: 0px 2px 9px #8c80f6;
  background-color: #eef1ff;
}

.text1 {
  color: #eef1ff;
  background-color: #bd7cfe;
  border: transparent;
}

.eliminar {
  color: #eef1ff;
  background-color: #bd7cfe;
  border: transparent;
}

.button:hover {
  box-shadow: 0px 2px 9px #8c80f6;
}

.footer {
  background-color: #8c80f6;
}

.text2 {
  color: #eef1ff;
}

/*** Animaciones del sitio ***/
.circle {
  background: linear-gradient(50deg, #7c6ef6 25%, #3dc1f6 38%, #ae4efd 45%, #3dc1f6 57%, #7c6ef6 75%, #ae4efd 100%);
  background-size: 400% 400%;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.fa-spin {
  transition: 30s;
}

/*# sourceMappingURL=style.css.map */
