/*** Animaciones del sitio ***/

.circle {
  background: linear-gradient(
    45deg,
    #7c6ef6 25%,
    #3dc1f6 40%,
    #ae4efd 50%,
    #3dc1f6 57%,
    #7c6ef6 75%,
    #ae4efd 100%
  );
  background-size: 400% 400%;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.fa-spin {
  transition: calc(30s);
}
