/*** Colores del sitio ***/

$basePrimaria-color: #e0e5fb;
$baseSecundaria-color: #eef1ff;
$baseTerciaria-color: #8c80f6;
$baseCuaternaria-color: #bd7cfe;
$baseQuinaria-color: transparent;

body {
  background-color: $basePrimaria-color;
}

.fa-book-reader {
  color: $baseTerciaria-color;
}

.circle {
  box-shadow: 0px 0px 30px $baseTerciaria-color;
}

.circle::before {
  background-color: $baseSecundaria-color;
}

.button-work,
.button-stop,
.button-short,
.button-long,
.button-pause {
  background-color: $baseTerciaria-color;
  color: $baseSecundaria-color;
  border: $baseQuinaria-color;
}

.button-work:hover,
.button-stop:hover,
.button-short:hover,
.button-long:hover,
.button-pause:hover {
  box-shadow: 0px 2px 9px $baseTerciaria-color;
}

.button:hover {
  box-shadow: 0px 2px 9px $baseCuaternaria-color;
}

.taskInput {
  border-color: $baseCuaternaria-color;
  background-color: $baseQuinaria-color;
}

.taskInput:focus {
  border: 2px solid $baseCuaternaria-color;
  box-shadow: 0px 2px 9px $baseTerciaria-color;
  background-color: $baseSecundaria-color;
}

.text1 {
  color: $baseSecundaria-color;
  background-color: $baseCuaternaria-color;
  border: $baseQuinaria-color;
}

.eliminar {
  color: $baseSecundaria-color;
  background-color: $baseCuaternaria-color;
  border: $baseQuinaria-color;
}

.footer {
  background-color: $baseTerciaria-color;
}

.text2 {
  color: $baseSecundaria-color;
}

.scroll a {
  color: $baseTerciaria-color;
}
