/*** Estructura del sitio ***/

$alignItem-primario: center;
$display-primario: flex;
$display-secundario: none;
$flexDirection-primario: row;
$flexDirection-secundario: column;
$justifyContent-primario: center;
$textAlign-primario: center;
$textAlign-secundario: justify;

body {
  background-position: center;
}

.container {
  display: $display-primario;
  justify-content: $justifyContent-primario;
  align-items: $alignItem-primario;
  flex-direction: $flexDirection-secundario;
}

.title {
  text-align: $alignItem-primario;
}

.circle {
  display: $display-primario;
  flex-direction: $flexDirection-secundario;
  justify-content: $justifyContent-primario;
  align-items: $alignItem-primario;
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
}

.time {
  display: $display-primario;
  position: relative;
  flex-direction: $flexDirection-primario;
}

.text {
  display: $display-primario;
  flex-direction: $flexDirection-secundario;
  justify-content: $justifyContent-primario;
  align-items: $alignItem-primario;
}

.controls {
  display: flex;
  flex-direction: $flexDirection-primario;
  align-items: $alignItem-primario;
  @media screen and (max-width: 768px) {
    flex-direction: $flexDirection-secundario;
    justify-content: $justifyContent-primario;
  }
}

.button-work,
.button-stop,
.button-short,
.button-long,
.button-pause,
.button {
  cursor: pointer;
}

iframe {
  display: $display-secundario;
}

.tasks1,
.tasks2 {
  flex-direction: $flexDirection-primario;
  justify-content: $justifyContent-primario;
  align-items: $alignItem-primario;
}

.tasks-button {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: $flexDirection-secundario;
    align-items: $alignItem-primario;
    justify-content: $justifyContent-primario;
  }
}

.taskInput:focus {
  outline: none;
}

ul {
  list-style-type: none;
  text-align: $textAlign-secundario;
}

.text2 {
  text-align: $alignItem-primario;
}

.float {
  position: fixed;
}

.scroll a {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
