/*** Fuentes del sitio ***/

$fuentes: (
  mayor: 600,
  medio: normal,
  menor: lighter,
);

@each $medida, $valor in $fuentes {
  .texto-#{$medida} {
    font-weight: $valor;
  }
}

body {
  font-family: "Varela Round", sans-serif;
}

.title {
  font-size: 47px;
  @media screen and (max-width: 768px) {
    font-size: 45px;
  }
  @media screen and (max-width: 480px) {
    font-size: 40px;
  }
}

.time {
  font-family: "Varela Round", sans-serif;
  font-size: 85px;
  @media screen and (max-width: 768px) {
    font-size: 80px;
  }
  @media screen and (max-width: 480px) {
    font-size: 75px;
  }
}

.menssage {
  font-family: "Kalam", cursive;
  font-size: 25px;
  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
  @media screen and (max-width: 480px) {
    font-size: 22px;
  }
}

.button-work,
.button-stop,
.button-short,
.button-long,
.button-pause {
  font-family: "Kalam", cursive;
  font-size: 20px;
}

.text {
  font-family: "Kalam", cursive;
  font-size: 30px;
}

.taskInput {
  font-family: "Kalam", cursive;
  font-size: 19px;
}

.text1 {
  font-family: "Kalam", cursive;
  font-size: 20px;
}

.title2 {
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
}

li {
  font-family: "Kalam", cursive;
  font-size: 19px;
}

.eliminar {
  font-family: "Kalam", cursive;
  font-size: 20px;
}

.text2 {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
}

.scroll a {
  font-size: 50px;
}
