/*** Medidas del sitio ***/

.container {
  min-height: 100vh;
  width: 100%;
}

.title {
  padding: 30px 0 35px 0;
}

.fas {
  padding-left: 13px;
  @media screen and (max-width: 768px) {
    padding-left: 15px;
  }
}

.circle {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  @media screen and (max-width: 768px) {
    width: 340px;
    height: 340px;
  }
  @media screen and (max-width: 400px) {
    width: 280px;
    height: 280px;
  }
}

.circle::before {
  width: 85%;
  height: 85%;
  border-radius: 50%;
}

.text {
  padding-top: 35px;
  padding-bottom: 30px;
}

.controls {
  padding-bottom: 35px;
}

.fa-play {
  line-height: 1;
}

.fa-spin {
  line-height: 1;
}

.tasks1 {
  padding-top: 20px;
}

.taskInput {
  padding: 10px 20px;
  width: 389px;
  height: auto;
  border-radius: 15px;
  border-width: 2px;
  @media screen and (max-width: 768px) {
    width: 260px;
  }
  @media screen and (max-width: 400px) {
    padding: 8px 10px;
    width: 220px;
  }
}

.text1 {
  width: auto;
  height: auto;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 5px;
  @media screen and (max-width: 400px) {
    padding: 8px 15px;
  }
}

.title2 {
  padding: 35px 0 5px 5px;
  @media screen and (max-width: 768px) {
    padding: 35px 0 5px 15px;
  }
}

ul {
  width: 515px;
  padding: 10px 7px 20px 7px;
  @media screen and (max-width: 768px) {
    width: 400px;
    padding: 10px 5px 20px 0;
  }
  @media screen and (max-width: 400px) {
    width: 329px;
  }
}

li {
  padding: 5px 0;
  @media screen and (max-width: 768px) {
    padding: 5px 16px;
  }
}

.eliminar {
  width: auto;
  height: auto;
  border-radius: 15px;
  padding: 7px 18px;
  margin: 5px 12px 10px 0;
}

.footer {
  height: auto;
  padding: 20px 0;
}

.float {
  right: 20px;
  bottom: 80px;
  @media screen and (max-width: 768px) {
    bottom: 0;
    right: 0;
  }
}
